#entire-banner {
    position: relative;
    /*text-align: center;*/
}
#title {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}
#playButton {
    position: absolute;
    top: 0;
    left: 0;
}